# Heading(using markdown-single #)

## Heading(using markdown-double #)

### Heading(using markdown-triple #)


# DATA STRUCTURES

# STRINGS

In [10]:
a="hello"
print(a)

hello

In [11]:
#to check the type of datatype
type("123")

str

In [15]:
#concatenate
firstName="Hello"
lastName="world"
fullName=a+" "+b
print(fullName)

Hello world

In [28]:
print(fullName[6])
print(fullName[0])#elemnt at the 0th index
print(fullName[-1])#elemnt at the last index
print(fullName[-2])

w
H
d
l

In [34]:
#slicing
print(fullName[1:5])#from index 1 to 5-1
print(fullName[:-1])

ello
Hello worl

In [37]:
len(fullName)#check number of elements in a string

11

In [44]:
#to check number of words in a sentence
#split function
string="Hello .World .how. are .you?"
print(string.split())#splits on the basis of a space
print(string.split("."))#splits on the basis of a .(dot)

['Hello', '.World', '.how.', 'are', '.you?']
['Hello ', 'World ', 'how', ' are ', 'you?']

# Integers

In [45]:
type(123)

int

In [46]:
type(-3234)

int

In [48]:
print("2x2=",2*2)
print("2 to the power 2=",2**2)
print("2 divide by 2=",2/2)
print("remainder of 2 div by 2=",2%2)

2x2= 4
2 to the power 2= 4
2 divide by 2= 1.0
remainder of 2 div by 2= 0

In [53]:
a=10

a+1
print(a)

a%=2
print(a)

a-=9
print(a)

10
0
-9

# float

In [54]:
type(12.0)

float

In [56]:
-22/7.0

-3.142857142857143

In [58]:
print(22%7)
print(22%7.0)

1
1.0

# boolean

In [59]:
type(True)#true is 1
type(False)#false is 0

bool

In [60]:
a=10
b=20
a==b

False

In [61]:
1==1.00

True

# TYPE CASTING

### string-->Int
### string-->float
### string-->boolean

In [8]:
var1="123"
var2=int(var1)
type(var2)

int

In [9]:
var1="123.321"
var2=float(var1)
type(var2)

float

In [10]:
var1="false"
var2=bool(var1)
type(var2)

bool

### int-->string
### float-->string
### boolean-->string

In [11]:
var1=123
var2=str(var1)
type(var2)

str

In [12]:
var1=123.321
var2=str(var1)
type(var2)

str

In [13]:
var1=True
var2=str(var1)
type(var2)

str

In [18]:
var1=1
var2=str(var1)
print(var2)
type(var2)

1

str

### float-->int

In [22]:
var1=22/7
print(var1,type(var1))
var2=int(var1)
print(var2,type(var2))

3.142857142857143 <class 'float'>
3 <class 'int'>

# input

In [25]:
a=input() #we can input anything here
b=int(input("Enter a number here--->"))
c=input("enter here--->")

hwbeerg65
Enter a number here--->54
enter here--->efsd

# operators

### 1)Arithmetic operator

In [28]:
a=13
b=20
print(a+b)
print(a-b)
print(a/b)
print(a//b)
print(a%b)
print(a*b)
print(a**b)

33
-7
0.65
0
13
260
19004963774880799438801

### 2)Assignment operator

In [29]:
a=12

In [30]:
a=a+1
a+=1

### 3)Comparision operator

In [31]:
a=10
b=20
c=10

In [35]:
#equality operator
print(a==b)
print(a==c)

False
True

In [37]:
print(a>b)
print(a<b)
print(a!=c)
print(a!=b)
print(a<=b)

False
True
False
True
True

In [38]:
132!=132.0

False

# CONDITIONS

In [40]:
for i in range(9,91,9):
    print(i)

9
18
27
36
45
54
63
72
81
90

In [41]:
for i in range(9,90,9):
    print(i)

9
18
27
36
45
54
63
72
81

In [43]:
age=int(input("enter your age-->"))
if (age < 0):
    print('Please enter a valid age!')

elif (age >= 18 or age <= 120):
    print('You can vote!')  
    
else:
    print('You can not vote!')

enter your age-->51
You can vote!

In [45]:
drinks = True
maggie = False
coffee = True
water  = False
burger = True
orders=0
if (drinks == True):
    print('Enjoy your drinks')
    orders += 1

if (maggie == True):
    print('Enjoy your Maggie')
    orders += 1
    
if (coffee == True):
    print('Enjoy your Coffee')
    orders += 1
    
if (water == True):
    print('Enjoy your water')
    orders += 1
    
if (burger == True):
    print('Enjoy your Burger')
    orders += 1
    
print("**********************")
print("You've ordered",orders,"items!")
print("**********************")

Enjoy your drinks
Enjoy your Coffee
Enjoy your Burger
**********************
You've ordered 3 items!
**********************

# while loop

In [3]:
num=int(input("enter number-->"))
while(num!=0):
    print(num)
    num-=1

enter number-->20
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [24]:
#code to convvert into binary format
num =int(input("enter--->"))
temp=num
binary = ''

while (num != 0):
    
    if (num % 2 == 0):
        binary += '1'
    else:
        binary += '0'
    num = num // 2
    
print(binary,"is the binary of",temp)

enter--->12
1100 is the binary of 12

# LIST

In [13]:
name=[]
phy=[]
chem=[]
math=[]
students=int(input("enter number of students-->"))
for i in range(students):
    name.append(input("enter name of the student--->"))
    phy.append(input("enter marks in physics--->"))
    chem.append(input("enter marks in chemistry--->"))
    math.append(input("enter marks in mathematics--->"))
    
print(name)
print(phy)
print(chem)
print(math)
    
data=[name,phy,chem,math]
print(data)

enter number of students-->5
enter name of the student--->A
enter marks in physics--->54
enter marks in chemistry--->45
enter marks in mathematics--->45
enter name of the student--->B
enter marks in physics--->84
enter marks in chemistry--->45
enter marks in mathematics--->55
enter name of the student--->C
enter marks in physics--->94
enter marks in chemistry--->64
enter marks in mathematics--->54
enter name of the student--->D
enter marks in physics--->54
enter marks in chemistry--->55
enter marks in mathematics--->65
enter name of the student--->E
enter marks in physics--->65
enter marks in chemistry--->31
enter marks in mathematics--->64
['A', 'B', 'C', 'D', 'E']
['54', '84', '94', '54', '65']
['45', '45', '64', '55', '31']
['45', '55', '54', '65', '64']
[['A', 'B', 'C', 'D', 'E'], ['54', '84', '94', '54', '65'], ['45', '45', '64', '55', '31'], ['45', '55', '54', '65', '64']]